/* base settings */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  width: 1600px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* header settings */

h1 {
  position: absolute;
  left: -9999px;
}

header {
  background:
    -webkit-gradient(
      linear, 
      left top, left bottom, 
      from(rgba(0, 0, 0, 0.85)), 
      to(rgba(0, 0, 0, 0.85))
    ),
    url('../img/Header\ BG.png');
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.85)
    ),
    url('../img/Header\ BG.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 1060px;
}

.heading {
  height: 90px;
  border-bottom: 2px solid #272727
}

.logo {
  float: left;
  margin:31px 0 0 3px;
}

nav {
  float: right;
  height: 100%;
}

nav ul {
  margin-top: 5.32%;
}

nav li {
  display: inline-block;
  margin:0 3px 0 61px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  padding-bottom: 34px;
  border-bottom: 2px solid #fff;
}

.hello {
  margin: 30% auto 340px;
  text-align: center;
  color: #fff;
}

.hello h2 {
  font-family: 'Myriad', 'Lato', Arial, sans-serif;
  display: block;
  font-size: 4.5em;
  letter-spacing: 0;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.5em;
}

.hello p {
  margin: 0 auto;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2em;
  letter-spacing: 0;
  line-height: 1.45em;
}

.hello p::first-line {
  max-width: 300px;
}

.join {
  display: flex;
}

.join a{
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  line-height: 119px;
}

.join .login {
  text-align: right;
  padding-right: 280px;
  flex: 1;
  height: 123px;
  background: #21424a;
  position: relative;
}

.join .login:hover {
  cursor: pointer;
  background: #2fac6c;
}

.join .reg {
  text-align: left;
  padding-left:220px;
  min-width: 100px;
  flex: 1;
  height: 123px;
  background: #21424a;
  position: relative;
}

.join .reg:hover {
  cursor: pointer;
  background: #2fac6c; 
}

.join .reg:hover:before {
  border-right: 30px solid #2fac6c;
}


.join .reg:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -30px;
  border-top: 123px solid transparent;
  border-right:  30px solid #21424a;
}

/* select section settings */

h2 {
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  margin: 86px 0 24px;
}

p {
  font-weight: 200;
  letter-spacing: 0.077em;
  text-align: center;
}


